{% extends 'entidades/index.html' %}

{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Prensa</h1>
<p class="lead text-white-50 mb-4">A continuación se presentan las principales salidas de IES Investigaciones Económicas Sectoriales en los medios gráficos nacionales e internacionales</p>
{% endblock titulo %}

{% block contenido %}

<table>
    <tr>
        <td width="350"><h3>Agregar nuevas Noticias</h3></td> 
        <td>
            <a
            href="{% url 'prensaForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>
<br> 
<h2>Últimas salidas en los medios</h2>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Noticia</th>
            <th>Medio</th>
            <th>Link</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for p in prensa  %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.TituloNoticia }}</td>
            <td>{{ p.medio }}</td>
            <td>{{ p.LinkNoticia }}</td>
            <td>
                <a
                  href="{% url 'prensaUpdate' p.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'prensaDelete' p.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}