{% extends 'entidades/index.html' %}

{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Quiénes Somos</h1>
<p class="lead text-white-50 mb-4">El equipo de economistas y profesionales de IES cuenta con el aval y la experiencia de más de 20 años en la prestación de servicios a empresas y entidades financieras de primer nivel, en el mercado local e internacional. </p>
{% endblock titulo %}

{% block contenido %}
<h2>Acerca de mi</h2>
<br>
<h4>El autor de esta aplicación es Fausto Giorgis - 32 años - La Plata</h4>
<br>    
<p>Siempre me inquietó conocer nuestro pasado y comprender nuestro presente, por eso estudié y me recibí de Licenciado en Comunicación Social (UNLP) y Profesor en Historia (UNLP).  Hoy en día quiero un cambio de rumbo profesional hacia el mundo IT, por lo que me encuentro capacitándome en esta área (programación en Python 3).
    Tengo experiencia en prensa y comunicación institucional (IES Consultores, Eco Go Consultores), en educación (docente, tutor virtual y preceptor). En mis inicios fui Game Tester en Globant y hoy me encuentro con ganas de retomar el camino como programador.
    </p>
{% endblock contenido %}